<h2>Users info</h2>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <% @books.each do |book| %>
  <tbody>
    <tr>
      <%= attachment_image_tag book, :image %>
      <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpeg" %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
  <% end %>
  </table>

<% if @user.id == current_user.id %>
 <p><%= link_to "edit", edit_user_path(@user) %></p>
<% end %>
