<h2>Book Detail</h2>

<table>
  <tbody>
    <tr>
      <%= attachment_image_tag @book, :image %>
      <td><%= @book.user.name %></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
      <td><%= link_to "Edit", edit_book_path %></td>
      <td><%= link_to "Destroy", books_path %></td>
      <% end %>
    </tr>
  </tbody>
</table>
