<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/608128ed18.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3 text-light" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


            <% if user_signed_in? %>
              <li class="header-link">
                <%= link_to user_path(current_user), class:"btn btn-link" do %>
                <i class="fas fa-home">Home</i>
                <% end %>
              </li>
              <li class="header-link">
                <%= link_to users_path, class:"btn btn-link" do %>
                <i class="fas fa-users">Users</i>
                <% end %>
              </li>
              <li class="header-link">
                <%= link_to books_path, class:"btn btn-link" do %>
               <i class="fas fa-book-open">Books</i>
                <% end %>
              </li>
              <li class="header-link">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <i class="fas fa-sign-out-alt">logout</i>
                <% end %>
              </li>
            <% else %>
              <li class="header-link">
                <%= link_to root_path, class:"btn btn-link" do %>
                <i class="fas fa-home">Home</i>
                <% end %>
              </li>
              <li class="header-link">
                <%= link_to home_about_path, class:"btn btn-link" do %>
               <i class="fas fa-link">About</i>
                <% end %>
              </li>
              <li class="header-link">
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <i class="fas fa-user-plus">sign up</i>
                <% end %>
              </li>
              <li class="header-link">
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <i class="fas fa-sign-in-alt">login</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
